body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.graph-container {
  width: 100%;
  height: 400px; /* Ajustez la hauteur selon vos besoins */
  margin: 0 auto;
  position: relative; /* Nécessaire pour le positionnement responsive */
}

.graph-container canvas {
  width: 100% !important; /* Assure que le graphique utilise toute la largeur disponible */
  height: 100% !important; /* Assure que le graphique utilise toute la hauteur disponible */
}
